.component {
  position: relative;
  width: 75%;
  height: 100%;
  padding: 2em;
  background: #000;
  line-height: 2;
  color: #20e620;
  font-family: Monospace;
  font-size: 1.5em;
  letter-spacing: 0.02em;
}
