:global *,
:global *:before,
:global *:after{
  box-sizing: border-box;
}
:global html,
:global body{
  width:100%;
  background:#eee;
  box-sizing: border-box;

}
:global .container{
  width:800px;
  margin:0 auto;
  background:#fff;
  padding:2em;
}
